server {
    listen       80;
    server_name  localhost;
    root /usr/share/nginx/html/;
    location / {
      try_files $uri $uri/ /index.html =404;
      add_header Cache-Control "no-store, no-cache, must-revalidate";
      add_header Pragma "no-cache";
      add_header Expires "0";
    }

    #error_page   500 502 503 504  /50x.html;
    #location = /50x.html {
    #    root   html;
    #}

    location /api {
      return 503;
    }

    # static health check to validate nginx server is up
    location /health {
        
        set $cors '';
        if ($http_origin ~ '(^(https|http)?://([^/]+\.)*(localhost:(\d*)\/?(.*)|investips.com|investipsusa.com))$') {
            set $cors 'true';
        }

        if ($cors = 'true') {
            add_header Access-Control-Allow-Origin      $http_origin;
            add_header Access-Control-Allow-Credentials true;
            add_header Access-Control-Allow-Headers     $http_access_control_request_headers;
            add_header Access-Control-Allow-Methods     $http_access_control_request_method;
        }

        add_header Content-Type application/json;

        access_log off;
        return 200 '{"service":"pp-2.0","status":"OK","healthy":true,"timestamp":"null","build":{"timestamp":"null","version":"null","tag":"null","suffix":"null"}}\n';
    }
    
}
