<div class="box-sizing">
    <div class="nav">
        <img class="logo" src="assets/images/logo.svg" alt="" />
        <div class="nav-menu">
            <a>
                <img src="assets/images/home-icon.svg" />
                <span>HOME</span>
            </a>
            <a>
                <img src="assets/images/search-icon.svg" />
                <span>SEARCH</span>
            </a>
            <a>
                <img src="assets/images/watchlist-icon.svg" />
                <span>WATCHLIST</span>
            </a>
            <a>
                <img src="assets/images/original-icon.svg" />
                <span>ORIGINALS</span>
            </a>
            <a>
                <img src="assets/images/movie-icon.svg" />
                <span>MOVIES</span>
            </a>
            <a>
                <img src="assets/images/series-icon.svg" />
                <span>SERIES</span>
            </a>
        </div>
        <img class="user-image" src="assets/images/carlos.png" alt="" />
    </div>
</div>
